@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

.container-fluid {
    font-family: 'Rubik', sans-serif;
    width: 100vw;
    padding: 0;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}
.leaflet-top {
    top: 50%;
    transform: translate(0%, -50%);
}
